<script src="https://raw.github.com/furf/jquery-ui-touch-punch/master/jquery.ui.touch-punch.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<%= javascript_include_tag "gmap3"%>
<%= javascript_include_tag "script"%>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<style>
      #test{
        margin: 10px auto;
        width: 250px;
        height: 250px;
      }
      #myCanvas {
        margin: 0 auto;
      } 

      .ui-slider-range{
        background: #000000;
      }
#ratings li { display: inline; display: block;}
#ratings li a { margin: 0 auto; }
#ratings li a { display:block; width:50px; height:50px; border:1px solid #888; background-color:#333;
   text-indent:-9999px; box-shadow:0 0 15px #888; border-radius:40px; }
 
#ratinginfo { clear:left; width:350px; }
#ratinginfo p { text-align:center; padding:10px;
   box-shadow:0 0 5px #888; border-radius:40px; }
 </style>
<script type="text/javascript">
        $(document).ready(function() {
        $('#test').gmap3({
          getgeoloc:{
            callback : function(latLng){
              if (latLng){
                $(this).gmap3({
                  marker:{ 
                    latLng:latLng
                  },
                  map:{
                    options:{
                      zoom: 17
                    }
                  }
                });
                <% if !params.has_key?(:tagid) && !params.has_key?(:lat) && !params.has_key?(:lon) then%>
                  window.location = "/?lat="+latLng.lat()+"&lon="+latLng.lng();
                <%end%>                
                <% if (params.has_key?(:tagid)) then%>
                  $('.iframehide').hide();
                <%end%>
                $("#long").val(latLng.lng());
                $("#lat").val(latLng.lat());
              }
            }
          }
        });
      });
</script>
<div class="hero-unit" id="main" style="padding-top: 0; margin-top: 0;">
  <div id="Top">
  <%= form_for(@vote, :html => { :multipart => true }, :remote => true) do |f| %>
    <div class= "row-fluid marketing" style="margin-bottom:0;">
    <div class="span6" id="where">
      <h2>Where Are You?: </h2>
      <div id="collection"></div>
      <%= f.collection_select :building_id, getBuildings, :id, :name%>
      <div id="test"> </div>
      <div>
      <h2> Room: </h2>
      <%= f.grouped_collection_select :room_id, getBuildings, :rooms, :name, :id, :name%>
      </div>
    </div>
    
    <div class="span6">
      <h2 id="Temp">What's It Like?: </h2>
      <h3 id="Warmer">It's Too Hot!</h3>
      <div id="slider" style="height: 200px;"></div>
      <h3 id="Colder">It's Too Cold!</h3>
      </br>
      <%= fields_for @post do |fa| %>
        <h2><%= fa.label :content, "Any Other Complaints?"  %></h2>
        <%= fa.text_field :content %>
      <% end %>
      <input id="rating" type="hidden" name="vote[amount]" value="0" />
      <input id="long" type="hidden" name="vote[longitude]" value="0" />
      <input id="lat" type="hidden" name="vote[latitude]" value="0" />
    </div>
    <div class="span12">
    <input id="submit" class="btn btn-large btn-success" name="commit" type="submit" value="GreenVote!">
  </div>
  </div>
  </div>
  <% end %>
</div>

    <script type="text/javascript">
  function hexFromRGB(r, g, b) {
      var hex = [
          r.toString( 16 ),
          g.toString( 16 ),
          b.toString( 16 )
        ];
        $.each(hex, function( nr, val ) {
          if ( val.length === 1 ) {
            hex[ nr ] = "0" + val;
          }
        });
        return hex.join( "" ).toUpperCase();
      }
      function refreshSwatch() {
          val = $("#slider" ).slider( "value" )
          red = 0;
          blue = 0;
          if(val > 0) { 
            red = val*10;
            $("#Colder").css("opacity",1-val*2/100)
          }
          else {
            blue = val*-10;
            $("#Warmer").css("opacity",1+val*2/100)
          }
          hex = hexFromRGB( red, 0, blue );
          $('.ui-slider-range').css("background", "#" + hex);
      }
      $(function() {
        $("#submit").click(function(){
          $('#Top').fadeOut('slow', function() {
            $(this).html("<h1>Thanks for Voting!</h1>").fadeIn('slow');
          });
          drawChart();
        });
        $( "#slider" ).slider({
            orientation: "vertical",
            range: "min",
            value:0,
            min: -50,
            max: 50,
            slide: function( event, ui ) {
              $("#rating").val(ui.value);
              refreshSwatch();
            }
        });
    });
  </script>