<h1>Listing Votes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Building_id</th>
    <tH>User</th>
    <th>Created At</th>
    <th></th>
    <th></th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= vote.amount %></td>
    <td><%= vote.building_id %></td>
    <td><%= vote.user_id %> </td>
    <td><%= vote.created_at %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, data: {} %></td>
  </tr>
<% end %>
</table>
<br />
